body{
    padding: 0;
    margin: 0;
}

.wapper{
    width: 100%;
}

.container-fluid .wapper .title{
    background-color: #ccccff;
}

.avatar img{
    width: 3.5em;
    height: 3.5em;
    display: inline;
}

.navbar-brand{
    font-size: 3em;
    font-weight: bold;
}

.navbar .navbar-inverse{
    position: fixed;
}

.recent, .friend{
    overflow: auto;
    height: 300px;
}

.recent img{
   width: 5em;
   height: 5em;
}

.title_nav_left{
    font-size: 1.5em;
    font-weight: bold;
    color: #006687;
    margin-top: 1em;
}

.item_write{
    background-color: #dddddd;
    margin-top: 1em;
}

.friend .icon_friend{
    width: 3em;
    height: 3em;
}

.item-friend{
    height: 4em;
}

.item-friend-name{
    font-weight: bold;
}

.friend .icon_status{
    width: 1em;
    height: 1em;
}

#showmessage span{
    background-color: #ff0000;
    color: white;
    font-weight: bold;
}

/* Style notification*/
#notify-container{
    width: 30%;
    height: 300px;
    overflow: auto;
    position: fixed;
    margin-left: 60%;
    margin-top: 40px;
    z-index: 2;
}

#notify-container .notify img{
    width: 40px;
    height: 40px;
}


//style input search

.ui-menu-item{
    background: white;
}

#bt_search{
    height: 30px;
    background-color: white;
    border-left: none;
}
#search{
    border-right: none;
    height: 30px;
}

//Style loading
#loading{
    position: fixed;
    width: 200px;
    height: 100px;
    background: url(loading.gif) no-repeat center;
    bottom: 20px;
    color: #000;
    text-align: center;
    line-height: 166px;
    left: 50%;
    margin-left: -100px;
    opacity: 0.7;
    border-radius: 5px;
    display: none;
}
